@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-emerald: #2ecc71;
    --primary-emerald-dark: #27ae60;
    --primary-white: #fff;
    --primary-black: #000;
    --primary-sleate: #627097;
    --rounded-sm: 0.2rem;
    --rounded-md: 0.4rem;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--primary-emerald);
    font-family: 'Poppins', sans-serif;
    gap: 1rem;
}
.btn{
    padding: 0.5rem 1rem;
    border-radius: var(--rounded-sm);
    font-family:'Poppins', sans-serif ;
    border: none;
    cursor: pointer;
    min-width: 7rem;
    min-height: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.05);
    }
    &.btn-primary{
        background-color: var(--primary-emerald-dark);
        color: var(--primary-white);
    }
    &.btn-secondary{
        background-color: var(--primary-white);
        color: var(--primary-sleate);
    }
   .btn-primary{
        background-color: var(--primary-emerald-dark);
        color: var(--primary-white);
    }
    .btn-secondary{
        background-color: var(--primary-white);
        color: var(--primary-black);
    }
   
}